.profile{
   margin-top: 20px;
}

.margin-thumbnail{
	margin-bottom: 30px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:5px;
 }
 
/*** Portfolio pieces ***/
.portfolio-thumbnail {
border-color: #863ee3;
}

.background-jumbotron{
	color: white;
	 font-weight: bold;
	background-image: url("../image/atlanta.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     background-position:center;
}

.navbar-text{
	color:white;
}

#contact{
	margin-top: 40px;
	margin-bottom:40px;
	color: white;
	background-color: black;

}

.margin-20{
	margin-top: 20px;
	margin-bottom: 20px;
}

#biography{
	background-color: gray;
}
